/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #3f5dca;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .main-body {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .navbar-container {
    width: 150px;
    background-color: #8697c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn-body {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
  }
  
  .btn-body.active, .btn-body:hover {
    background-color: rgba(112, 145, 230, 0.5);
  }
  
  .btn-title {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .btn-icon {
    font-size: 24px;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .content h1 {
    margin-bottom: 20px;
  }
  
  .content p {
    margin-bottom: 15px;
    max-width: 600px;
  }
  